MONGODB_URI=mongodb+srv://admin:jelXfRUp11ZwNZpy@stms-software-engineeri.uxy4xb2.mongodb.net/?appName=STMS-Software-Engineering
NODE_ENV=production
PORT=10000

# JWT Secret 
JWT_SECRET=votre_super_secret_key_tres_securisee_123456789